<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <img src="./images/background.jpg" alt="music bg">

</body>

</html>